appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
Django==5.2.3
django-cors-headers==4.7.0
django-stubs==5.2.1
django-stubs-ext==5.2.1
djangorestframework==3.16.0
jsonpointer==2.1
matplotlib==3.9.2
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==75.1.0
sqlparse==0.5.3
wheel==0.44.0